body {
    font-family: 'AKIRA', sans-serif;
    color: rgba(47, 45, 45, 1);
    margin: 0;
    padding: 0;
    background-image: url("Ellipse\ 1 (1).png"), url("Ellipse 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right, left bottom;
}

nav {
    padding: 5px;
    display: flex;
    /* Use flexbox for layout */
    justify-content: space-between;
    /*Space items evenly along the main-axis*/
    align-items: center;
    /* Center items vertically */
}

nav .left {
    padding: 50px;
    order: 0;
    /* Change the order of the left item */
    font-size: 56.2px;
}

nav .right {
    padding-right: 50px;
    font-size: 26.32px;
}

nav a {
    color: rgba(47, 45, 45, 1);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

.op {
    text-decoration: underline;
}

.text {
    padding-left: 100px;
}

.h1 {
    margin: 0;
    font-size: 115.1px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.box {
    height: 543px;
    width: 780.19px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20.73px;
}

@font-face {
    font-family: 'AKIRA';
    src: url('akira_expanded/Akira Expanded Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AKIRA-1';
    src: url('Fixture-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AKIRA-2';
    src: url('Fixture-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AKIRA-3';
    src: url('Fixture-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AKIRA-4';
    src: url('Fixture-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}